:root {
  --col-primary: #00796B;
  --col-dark: #005e53;
  --col-light: #009181;

  --col-bg: #F0F0F0;
  
  --col-text: #FEFEFE;
  --col-contrast: #393939;
}


.navbar.navbar-dark{
  margin: 0;
  background: var(--col-primary) !important;
}

.dropdown-item.active {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.page-footer {
  margin: 0;
  background: var(--col-primary) !important;
}



#cardSection{
    background-color: rgba(221, 221, 221, 0.5);
    padding: 4rem 0;
}

